{
  "network": {
    "servers": [ "{{ logstash_forwarder.server }}:{{ logstash_forwarder.port }}" ],
    "timeout": 15,
    "ssl ca": "{{ logstash_forwarder.ssl_dir }}/{{ logstash_forwarder.ssl_certificate_file | basename }}"
  },
  "files": {{ logstash_forwarder.files | to_json }}
}
